.divclass {
    background-color: lightgray;
     width: 400px; 
     text-align: center;
     border: solid black 3px;
    margin-top: 4rem;
    padding: 10px 10px 10px 10px;
}
.navclass {
    background-color: white;
    z-index: 1;
    position: absolute;
    top: 0;
    width: 100vw;
    text-align: right;
}
.navclass a{
    background-color: lightgray;
    border: solid darkgray 2px;
    margin: 2px 2px 2px 2px;
}
form{margin-left: 400px;}
/* better way of centering the form is using margin: auto; */
body{margin: 0;}
.divclass input{
    border: solid black 1px;
    margin: 2px 2px 2px 2px;
}
.social-image{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
/* i believe this is what made the underline thing go away */
#social a{
    text-decoration: none;
}